.breadcrumb-container {
  background-color: #f9f1e7;
  padding: 38px 0;
  width: 100%;
}

.breadcrumb-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  color: #9f9f9f;
  font-size: 1rem;
  font-weight: normal;
}

.breadcrumb-separator {
  margin: 0 8px;
}

.breadcrumb-divider {
  margin: 0 8px;
}

.breadcrumb-product-title {
  color: black;
  font-weight: normal;
}
